* {
    font-family: Archivo Black;
}

body {
    background-color: #ffffff;
}

#title {
    height: 170px;
      text-align: center;
      font-size: 30px;
      background-color: #111111;
      color: white;
      border-bottom: 0px;
      border-top: 20px;
      border-left: 20px;
      border-right: 20px;
      border-style: solid;
      border-color: #111111;
  }