body {
    background-color: #111111;
}

* {
    font-family: Archivo Black;
}

.centralizar {
    margin-left: auto;
    margin-right: auto;
    margin-top: 125px;
    margin-bottom: auto;
}

#Pretinho {
    width: 350px;
    
    filter: grayscale(100%);

    transition: 0.3s;
}

#Pretinho:hover {
    filter: none;
    
}

#Louro {
    width: 350px;
    
    filter: grayscale(100%);

    transition: 0.3s;
}

#Louro:hover {
    filter: none;
}

#Bolota {
    width: 350px;
   
    filter: grayscale(100%);

    transition: 0.3s;
}

#Bolota:hover {
    filter: none;
}

#title {
    color: #ffffff;
    text-align: center;
    margin-top: 50px;
    margin-bottom: -90px;
    font-size: 30px;
}

.botao {
    bottom: 0px;
    background-color: #111111;
    color: #ffffff;
    transition: 0.3s;
    width: 200px;
    border: 2px solid #ffffff;
}


/*Botao*/
.albotao {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    transition: 0.3s;
  }

.albotao:hover {
    margin-top: 25px;
    box-shadow: 0px 0px 50px #3242a8;
}

.albotao:active {
    background-color: #ffffff;
    color: #111111;
    border: 2px solid #111111;
}

.botao:active {
    background-color: #ffffff;
    color: #111111;
    border: 2px solid #111111;
}

/*BORDA*/
.borda {
    border: 5px solid #3242a8;
    background-color: #3242a8;
    transition: 0.3s;
}

.borda:hover {
    transform: scale(1.1);
    margin-right: 50px;
    margin-left: 50px;
    box-shadow: 0px 0px 50px #3242a8;
}

.inicio {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
}

.inicio.show {
    opacity: 1;
    transform: translateY(0);
}