.archivo-black-regular {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  * {
      font-family: "Archivo Black";
  }

  div {
    box-sizing: border-box;
  }
  
  #title {
    height: 170px;
      text-align: center;
      font-size: 30px;
      background-color: #111111;
      color: white;
      border-bottom: 0px;
      border-top: 20px;
      border-left: 20px;
      border-right: 20px;
      border-style: solid;
      border-color: #111111;
  }
  
  #brokenline {
      border-bottom: 15px;
      border-top: 0px;
      border-left: 0px;
      border-right: 0px;
      border-style: solid;
      border-color: #101720
    }
  
  #estrutura {
    border-bottom: 15px;
      border-top: 15px;
      border-left: 15px;
      border-right: 15px;
      border-style: solid;
      border-color: #111111;
      margin: 100px solid #111111;
  }
  
  #indice {
    border-bottom: 15px;
    border-top: 15px;
    border-left: 15px;
    border-right: 15px;
    border-style: solid;
    border-color: #111111;
  }
  
  .titani {
    width: auto;
    height: auto;
    color: white;
    background-color: #3242a8;
    text-align: center;
  }

  .titanimg {
    width: auto;
    height: auto;
    color: white;
    text-align: center;
    border: 5px solid #111111;
    background-color: #111111;
  }
  
  .corpot {
    display: inline-block;
    width: auto;
    height: auto;
    text-align: justify;
    border: 50px solid rgb(0, 0, 0, 0);
  }
  
  #impretfel {
    display: inline-block;
    width: auto;
  }
  
  .images {
    width: 100%;
    height: 100%;
    height: min-content;
    text-align: center;
    border: 5px solid #111111;
  }

  .images > img {
    width: 100%;
    height: 100%;
  }
  
  .botao {
    color: #FFFFFF;
    background-color: #3242a8;
    border: none;
  }

  .botao:hover {
    background-color: #435bf4;
  }

  .botao:active {
    background-color: #090d23;
  }

  .albotao {
    margin-left: auto;
    margin-right: 0;
  }

  .aldireita {
    margin-right: 0px;
    margin-left: 10px;
  }

  .estrcorpot {
    border-top: 0px;
    border-bottom: 7.5px solid #111111;
    border-right: 0px;
    border-left: 0px;
  }

  #vertimg {
    background-color: #111111;
    width: 576px;
    height: 75%;
    text-align: center;
  }